@{
    ViewBag["Title"] = "Главная страница";
}

<h1>Добро пожаловать в CRM систему</h1>

<form asp-action="Login" asp-controller="Account" method="post">
    <div>
        <label for="role">Выберите роль:</label>
        <select id="role" name="role">
            <option value="Admin">Администратор</option>
            <option value="Manager">Менеджер</option>
        </select>
    </div>
    <div>
        <label for="name">Логин:</label>
        <input type="text" id="name" name="name" required />
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required />
    </div>
    <input type="submit" value="Войти" />
</form>